.App {
  font-family: 'Istok Web', serif;
  padding-left: 100px;
  padding-right: 100px;
}

.blue {
  background-color: #0207a2;
}

.red {
  background-color: #ed443a;
}

.tan {
  background-color: #e7be9f;
}

.green {
  background-color: #295328;
}

.white {
  color: #ffffff;
}

.App-header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header img {
  height: 150px;
}

h2 {
  font-family: 'Mansalva';
  text-transform: uppercase;
  color: #0207a2;
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}

p {
  font-size: x-large;
  font-family: 'Istok Web';
  margin-bottom: 30px;
}

.calloutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    margin: 40px 0;
}
.calloutContainer .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.calloutText {
  flex: 2;
  padding-right: 20px;
}

.calloutButton {
  flex: 1;
  vertical-align: middle;
  background-color: yellow;
  
  
}

.calloutButton button {
  font-size: 30px;
  width: 100%;
  height: 100%;
}
